html {
	background-color: #111111;
}

body {
	max-width: 960px;
	margin: auto;
	background-color: #222222; 
	color:white;
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: 9pt;

	
}

.top-pane {
	top: 0;
	left: 10px;
	margin-bottom: 100px;
	max-width: 960px;
	overflow-y: auto;
	column-count: 2;
	column-gap: 0;
}

.bottom-pane {
	position: fixed;
	bottom: 0;
	height: 100px;
	max-width: 960px;
	width: 100%;
	background-color: inherit;
}

.pane {
	margin:5px;
}

.pane-title {
	border-radius: 5px;
	padding : 5px;
}

.control-line {
	display:flex;
	margin:10px;
}

.items_list {
	margin:5px;
	border-radius: 5px;
	background-color:#333333; 
	height: calc(100vh - 197px);
	overflow-y:auto; 
}

.list_item{
	overflow:ellipsis;
	height: 25px;
}

.list_item:hover {
	background-color: #444444;
	cursor: pointer;
}

.small_button {
	margin: 1px;
	background-color: #555555;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 20px;
	color: white;
	cursor: pointer;
	font-size: 6pt;
}

.small_button:hover {
	background-color: #AAAAAA;
	color: black;
}

.highlight_small_button {
	background-color: #EEEEEE;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 20px;
	color: #333333;
	cursor: pointer;
	font-size: 6pt;
}

.highlight_small_button:hover {
	background-color: #FFFFFF;
}

.playlist_button {
	background-color: #333333;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 20px;
	color: white;
	cursor: pointer;
	font-size: 6pt;
}

.playlist_button:hover {
	background-color: gray;
}

.track_button {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	width: 30px;
	height: 25px;
	color: white;
	cursor: pointer;
}

.track_button:hover {
	background-color: white;
	color: black;
}

select {
	background-color: #333333;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 5px;
	height: 25px;
	color: white;
	cursor: pointer;
}

.item_playing{
	color: yellow;
	font-weight: bold;
}



