body {
	background-color: #222222; 
	color:white;
	font-family: "Verdana", Helvetica, sans-serif;
}

.items_list {
	background-color:#333333; 
	overflow-y:auto; 
	height:60vh;
}


.list_item:hover {
	background-color: #666666;
}

.small_button {
	background-color: #555555;
	border: none;
	border-radius: 5px;
	width: 35px;
	height: 25px;
	color: white;
}

.small_button:hover {
	background-color: #FFFFFF;
	color: black;
}

.highlight_small_button {
	background-color: #EEEEEE;
	border: none;
	border-radius: 5px;
	width: 35px;
	height: 25px;
	color: #333333;
}

.highlight_small_button:hover {
	background-color: #FFFFFF;
}

.playlist_button {
	background-color: #333333;
	border: none;
	border-radius: 5px;
	width: 40px;
	height: 25px;
	color: white;
}

.playlist_button:hover {
	background-color: gray;
}

.track_button {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	width: 30px;
	height: 25px;
	color: white;
}

.track_button:hover {
	background-color: white;
	color: black;
}

select {
	background-color: #333333;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 5px;
	width: 35px;
	height: 25px;
	color: white;
}

.item_playing{
	color: yellow;
	font-weight: bold;
}




