html {
	background-color: #191919;
}

body {
	max-width: 960px;
	margin: auto;
	color:white;
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: 9pt;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	
}

#pane-select-buttons > div:hover {
	font-weight: bold;
	cursor: pointer;
}

#pane-select-buttons > div {
	padding: 15px;
}



.top-pane {
	flex:1;
	top: 0;
/*	margin-bottom: 100px;*/
	max-width: 960px;
	width: 100%;
	overflow-y: auto;
	display:flex;
}

.panel {
	flex: 1;
	border-radius: 5px;
}

.pane {
	margin:5px;
}

.pane-title {
	text-align: center;
	padding : 5px;
}

.control-line {
	display:flex;
	margin:10px;
}

.items_list {
	margin:5px;
	border-radius: 5px;
	background-color:#333333; 
	height: calc(100vh - 270px);
	overflow-y:auto; 
}

.list_item{
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-content: center;

}

.list_item:hover {
	background-color: #444444;
}

.list-item-name {
	flex: 1;
	margin: 5px;
	max-width: calc(45vw - 25px);
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-item-name:hover {
	cursor:pointer;
}


.bottom-pane {
/*	position: fixed;
	bottom: 0;*/
	height: 100px;
	max-width: 960px;
	width: 100%;
	background-color: inherit;
}


.small_button {
	margin: 1px;
	background-color: #555555;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 20px;
	color: white;
	cursor: pointer;
	font-size: 6pt;
}

.small_button:hover {
	background-color: #BBBBBB;
	color: black;
}

.highlight_small_button {
	margin: 1px;
	background-color: #FFFFFF;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 20px;
	color: #333333;
	cursor: pointer;
	font-size: 6pt;
}

.playlist_button {
	background-color: #333333;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 20px;
	color: white;
	cursor: pointer;
	font-size: 6pt;
}

.playlist_button:hover {
	background-color: gray;
}

.track_button {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	width: 30px;
	height: 25px;
	color: white;
	cursor: pointer;
}

.track_button:hover {
	background-color: white;
	color: black;
}

select {
	background-color: #333333;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 5px;
	height: 20px;
	color: white;
	cursor: pointer;
}

.item_playing{
	color: yellow;
	font-weight: bold;
}


@media only screen and (min-width:960px){
.list-item-name {
	max-width: 450px;
}
}

@media only screen and (max-width:500px){
.list-item-name {
	max-width: calc(90vw - 25px);
}
}
